<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="true">

    <display-name>Spring PetClinic</display-name>
    <description>Spring PetClinic sample application</description>

    <servlet>
        <servlet-name>mockServlet</servlet-name>
        <servlet-class>com.github.bedrin.batchy.mock.MockServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mockServlet</servlet-name>
        <url-pattern>/mockServlet/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>batchy</servlet-name>
        <servlet-class>com.github.bedrin.batchy.BatchyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>batchy</servlet-name>
        <url-pattern>/batchy</url-pattern>
    </servlet-mapping>

</web-app>